.AllIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh;
}
.Create{
  width: inherit;
  height: inherit;
}
.radio{
  display: flex;
  flex-direction: column;
}
p{
  color:#fff;
}
h2{
  color: #fff;
}


